<footer>
    <p>Copyright &copy; <span id="year"></span> Abdera7mane </p>
</footer>

<style>
:root {
  --footer-gradient: radial-gradient(
      50% 50% at center top,
      hsla(20, 6%, 10%, 60%) 0%,
      transparent 100%
    );
}

footer {
  display: flex;
  background-image: var(--footer-gradient);
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

p {
  font-size: 16px;
}
</style>

<script>
document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
