---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style>
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');

:root {
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-lg: 28pt;
	--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

	--color-text: white;
	--background: #0d0d0d;
	--color-border: hsl(17, 24%, 90%);
  --gradient: linear-gradient(
    0deg,
    hsla(40, 80%, 60%, 80%),
    hsla(30, 100%, 60%, 80%)
  );
}

:global(html) {
	font-family: 'Cairo', Arial, Helvetica, Tahoma, Verdana, "Trebuchet MS", Helvetica, Geneva, Verdana, sans-serif;
	font-size: var(--font-size-base);
	color: var(--color-text);
	background: var(--background);
	height: 100%;
}

:global(body) {
	margin: 0;
	position: relative;
	min-height: 100vh;
}

:global(.text-gradient) {
  font-weight: bolder;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position-y: 100%;
	border-radius: 0.4rem;
	animation: pulse 4s ease-in-out infinite;
}

:global(h1, h2) {
  padding: 60px 0;
  margin: 0;
  text-align: center;
}

:global(h1) {
	font-size: var(--font-size-xl);
}

:global(h2) {
	font-size: var(--font-size-lg);
}

:global(code) {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
</style>
